<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="header">

<h2 class="heading"><span><img src="img/homelogo.webp" alt=""></span>APARTMENT RENTAL <span><img src="../img/homelogo.webp" alt=""></span></h2>

</div>
<hr>



</body>
</html>
<style>
*{
    margin: 0;
    padding: 0;
}

body{

    
}
    .header{
        display: flex;
        color: rgb(202, 93, 31);
        font-size: 30px;
        justify-content: center;
        margin-top: 10px;

    }
    span img{
        width: 50px;
        gap: 5px;
    }
</style>