<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<%- include("./partials/header.ejs") %>
<%- include("./partials/nav.ejs") %>
<body>
    <h1>hshfhjdfhdkjhfkdjhfdhfjdh  <br> sgshfgfhgs</h1>
</body>
<%- include("./partials/footer.ejs") %>
</html>